<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>
    <h:head>
        <h:outputStylesheet name="css/styles.css" />
        <title>Test link page</title>
    </h:head>

    <h:body>
        <h2>#{testAnswersGatheringController.survey.title}</h2>
    </h:body>
</html>

