<ui:composition template="../../template/common_template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Atsakyti į apklausą</ui:define>

    <ui:define name="content">
        <ui:param name="survey" value="#{answersGatheringController.survey}"/>

        <div class="right_col" role="main">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="title_left">
                        <h3>#{survey.title}</h3>
                        <h5>#{survey.description}</h5>
                    </div>

                    <h:panelGroup layout="block" class="x_content" id="surveyContent">
                        <b:messages id="globalMessages" />
                        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

                        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                            <p:graphicImage library="images" name="loading.gif" />
                        </p:dialog>
                        <h:panelGroup rendered="#{answersGatheringController.isCurrentAction('ANSWER')}" id="answerPanel">
                            <h:form id="answerForm">
                                <div id="questions">
                                    <ui:repeat var="question" value="#{survey.questionList}" varStatus="varStatus">
                                        <ui:param name="answer" value="#{answersGatheringController.userAnswers[question.id]}"/>

                                        <div class="col-md-6 col-xs-12 col-md-offset-3" id="questionInfo">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <h2>
                                                        #{varStatus.index+1} klausimas: #{question.content}
                                                        <h:panelGroup rendered="#{question.required}">
                                                            <span style="color:red;">*</span>
                                                        </h:panelGroup>
                                                    </h2>

                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <div class="form-group">
                                                        <div class="col-md-12 col-xs-12 col-sm-12">
                                                            <h:panelGroup rendered="#{question.questionType=='CHECKBOX'}">
                                                                <h:selectManyCheckbox class="checkbox" value="#{answersGatheringController.userAnswers[question.id]}" layout="pageDirection" required="#{question.required and param['enableQuestionValidation']}"  requiredMessage="#{varStatus.index+1} klausimas yra privalomas!">
                                                                    <f:selectItems value="#{question.answerOptionList}" var="answerItem"
                                                                                   itemLabel="#{answerItem.content}" itemValue="#{answerItem.id}" />
                                                                </h:selectManyCheckbox>
                                                            </h:panelGroup>

                                                            <h:panelGroup rendered="#{question.questionType =='TEXT'}">
                                                                <b:inputTextarea class="form-control" rows="3" placeholder="Įrašykite savo atsakymą" required="#{question.required and param['enableQuestionValidation']}" value="#{answer}"  requiredMessage="#{varStatus.index+1} klausimas yra privalomas!"/>
                                                            </h:panelGroup>

                                                            <h:panelGroup rendered="#{question.questionType =='SCALE'}">
                                                                <b:row>
                                                                    <b:column>
                                                                        <b:slider2 min="#{question.numberQuestion.minimalRange}" max="#{question.numberQuestion.maximumRange}" step="1" value="#{answer}" />
                                                                    </b:column>
                                                                </b:row>
                                                            </h:panelGroup>

                                                            <h:panelGroup rendered="#{question.questionType =='MULTIPLECHOICE'}">
                                                                <h:selectOneRadio value="#{answersGatheringController.userAnswers[question.id]}" class="checkbox" layout="pageDirection" required="#{question.required and param['enableQuestionValidation']}"  requiredMessage="#{varStatus.index+1} klausimas yra privalomas!">
                                                                    <f:selectItems value="#{question.answerOptionList}" var="answerItem"
                                                                                   itemLabel="#{answerItem.content}" itemValue="#{answerItem.id}"  />
                                                                </h:selectOneRadio>
                                                            </h:panelGroup>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ui:repeat>

                                </div>
                                <h:panelGroup layout="block" styleClass="col-md-12 actionBar" rendered="#{survey.questionList ne null}">
                                    <b:button value="Išsaugoti" look="warning" onclick="$('.modalPseudoClass').modal()" size="lg"/>
                                   <b:commandButton value="Užbaigti"
                                                     ajax=""
                                                     actionListener="#{answersGatheringController.submitAnswers()}"
                                                     action="/answer_survey"
                                                     update=":surveyContent"
                                                     look="success"
                                                    size="lg">
                                       <f:param name="enableQuestionValidation" value="true" />
                                   </b:commandButton>
                                </h:panelGroup>
                                <b:modal id="saveToMail" title="Išsaugoti apklausą" styleClass="modalPseudoClass">
                                    <b:messages id="modalMessages" />
                                    <p>Norėdami apklausą užbaigti vėliau, į žemiau esantį laukelį įrašykite savo el. pašto adresą.</p>
                                    <p>Jums bus atsiųsta nuorodą, kuria naudojantis jūs galėsite pratęsti atsakinėjimą.</p>

                                    <h:panelGrid columns="1" style="margin: 0 auto;">
                                        <b:inputText label="El. paštas:" labelStyle="width:80px;" id="emailField" value="#{answersGatheringController.userEmail}" required="#{!param['enableQuestionValidation']}" requiredMessage="Įrašykite el. pašto adresą!"/>
                                    </h:panelGrid>
                                    <h:panelGrid columns="2" style="margin: 0 auto;">
                                        <b:button value="Atšaukti" dismiss="modal" />
                                        <b:commandButton value="Siųsti"
                                                         look="success"
                                                         ajax="false"
                                                         update="answerForm:modalMessages :donePanel"
                                                         id="saveToEmail"
                                                         actionListener="#{answersGatheringController.submitEmail()}">
                                            <f:param name="enableQuestionValidation" value="false" />
                                        </b:commandButton>
                                    </h:panelGrid>

                                </b:modal>
                            </h:form>


                        </h:panelGroup>
                        <h:panelGroup rendered="#{answersGatheringController.isCurrentAction('DONE')}" id="donePanel">
                            <h:outputScript>
                                $('.modal-backdrop').remove();
                            </h:outputScript>
                        </h:panelGroup>
                    </h:panelGroup>
                </div>

            </div>
        </div>
    </ui:define>
</ui:composition>