<ui:composition template="../../template/common_template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Apklausų valdymas</ui:define>
    <ui:define name="content">
        <div class="right_col" role="main">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <h:panelGroup layout="block" class="title_left" rendered="#{!createSurveyController.updatingExisting}">
                       <h3>Nauja apklausa</h3>
                    </h:panelGroup>
                    <h:panelGroup layout="block" class="title_left" rendered="#{createSurveyController.updatingExisting}">
                        <h3>Redaguoti apklausą</h3>
                    </h:panelGroup>


                    <b:form id="form">
                        <b:messages id="messages" />
                   <h:panelGroup layout="block" rendered="#{createSurveyController.isCurrentAction('INFO') or createSurveyController.isCurrentAction('QUESTIONS') or createSurveyController.isCurrentAction('CONFIRMATION')}">
                    <h:panelGroup layout="block" id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps">
                            <li>
                                <a class="#{createSurveyController.displayStyle['step1']}">
                                    <span class="step_no">1</span>
                                    <span class="step_descr">
                                              1 žingsnis<br />
                                              <small>Pradiniai duomenys</small>
                                          </span>
                                </a>
                            </li>
                            <li>
                                <a class="#{createSurveyController.displayStyle['step2']}">
                                    <span class="step_no">2</span>
                                    <span class="step_descr">
                                              2 žingsnis<br />
                                              <small>Klausimų įvedimas</small>
                                          </span>
                                </a>
                            </li>
                            <li>
                                <a class="#{createSurveyController.displayStyle['step3']}">
                                    <span class="step_no">3</span>
                                    <span class="step_descr">
                                              3 žingsnis<br />
                                              <small>Apklausos patvirtinimas</small>
                                          </span>
                                </a>
                            </li>
                        </ul>
                        <h:panelGroup rendered="#{createSurveyController.isCurrentAction('INFO')}" id="step-1" class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Pavadinimas <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <b:inputText value="#{createSurveyController.survey.title}" required="true" class="form-control col-md-7 col-xs-12"
                                                 requiredMessage="Įrašykite pavadinimą!" disabled="#{!createSurveyController.editable}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Aprašymas <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <b:inputTextarea class="form-control col-md-7 col-xs-12" rows="3" required="true" value="#{createSurveyController.survey.description}"  requiredMessage="Įrašykite apklausos aprašymą!"  disabled="#{!createSurveyController.editable}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" style="padding-top:25px;">Galioja iki: <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                     <b:dateTimePicker locale="lt" format="YYYY-MM-DD HH:mm" value="#{createSurveyController.survey.expirationDate}" required="true" requiredMessage="Įrašykite galiojimo datą!"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Aktyvi </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <b:switch value="#{createSurveyController.survey.isActive}" onText="Taip" offText="Ne"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Vieša </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <b:switch value="#{createSurveyController.survey.isPublic}" onText="Taip" offText="Ne"/>
                                </div>
                            </div>

                        </h:panelGroup>

                        <h:panelGroup rendered="#{createSurveyController.isCurrentAction('QUESTIONS')}" id="step-2">

                            <div style="text-align:center;">
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-app dropdown-toggle" type="button" aria-expanded="true">  <i class="fa fa-edit"></i> Naujas klausimas </button>
                                    <ul role="menu" class="dropdown-menu">
                                        <li>
                                            <p:commandLink oncomplete="$('.modalPseudoClass').modal()"
                                                           action="#{createSurveyController.addNewQuestion(1)}"
                                                           p:data-target="#modal"
                                                           p:data-toggle="modal"
                                                           value="Vieno varianto pasirinkimas"
                                                           partialSubmit="true"
                                                           update="addQuestion"
                                                           disabled="#{!createSurveyController.editable}"
                                                           immediate="true"/>
                                        </li>
                                        <li>
                                            <p:commandLink oncomplete="$('.modalPseudoClass').modal()"
                                                           value="Kelių variantų pasirinkimas"
                                                           p:data-target="#modal"
                                                           p:data-toggle="modal"
                                                           action="#{createSurveyController.addNewQuestion(2)}"
                                                           partialSubmit="true"
                                                           update="addQuestion"
                                                           disabled="#{!createSurveyController.editable}"
                                                           immediate="true"/>
                                        </li>
                                        <li>
                                            <p:commandLink oncomplete="$('.modalPseudoClass').modal()"
                                                           value="Laukelis teksto įvedimui"
                                                           p:data-target="#modal"
                                                           p:data-toggle="modal"
                                                           action="#{createSurveyController.addNewQuestion(3)}"
                                                           partialSubmit="true"
                                                           update="addQuestion"
                                                           disabled="#{!createSurveyController.editable}"
                                                           immediate="true"/>
                                        </li>
                                        <li>
                                            <p:commandLink oncomplete="$('.modalPseudoClass').modal()"
                                                           value="Sveikas skaičius"
                                                           p:data-target="#modal"
                                                           p:data-toggle="modal"
                                                           action="#{createSurveyController.addNewQuestion(4)}"
                                                           partialSubmit="true"
                                                           update="addQuestion"
                                                           disabled="#{!createSurveyController.editable}"
                                                           immediate="true"/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="x_content">
                                <h:panelGroup id="questions">
                                    <ui:repeat var="question" value="#{createSurveyController.survey.questionList}" varStatus="questionsVarStatus">

                                        <div class="col-md-6 col-xs-12 col-md-offset-3" id="questionInfo">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <h2>
                                                        #{questionsVarStatus.index+1} klausimas: #{question.content}
                                                        <h:panelGroup rendered="#{question.required}">
                                                            <span style="color:red;">*</span>
                                                        </h:panelGroup>
                                                    </h2>
                                                    <ul class="nav navbar-right panel_toolbox">
                                                        <li>
                                                            <p:commandLink
                                                                    action="#{createSurveyController.questionAction('up', questionsVarStatus.index)}"
                                                                    styleClass="move-up"
                                                                    update=":form:questions"
                                                                    immediate="true"
                                                                    disabled="#{!createSurveyController.editable}"
                                                                    id="move-up">
                                                                <i class="fa fa-chevron-up"></i>
                                                            </p:commandLink>
                                                            <p:tooltip id="tooltipMoveUp" for="move-up" value="Perkelti aukštyn" position="top"/>
                                                        </li>
                                                        <li>
                                                            <p:commandLink
                                                                    action="#{createSurveyController.questionAction('down', questionsVarStatus.index)}"
                                                                    update=":form:questions"
                                                                    immediate="true"
                                                                    disabled="#{!createSurveyController.editable}"
                                                                    id="move-down">
                                                                <i class="fa fa-chevron-down"></i>
                                                            </p:commandLink>
                                                            <p:tooltip id="tooltipMoveDown" for="move-down" value="Perkelti žemyn" position="top"/>
                                                        </li>
                                                        <li>
                                                            <p:commandLink
                                                                    action="#{createSurveyController.questionAction('delete', questionsVarStatus.index)}"
                                                                    update=":form:questions"
                                                                    immediate="true"
                                                                    disabled="#{!createSurveyController.editable}"
                                                                    id="delete">
                                                                <i class="fa fa-close"></i>
                                                            </p:commandLink>
                                                            <p:tooltip id="tooltipDelete" for="delete" value="Ištrinti" position="top"/>
                                                        </li>
                                                    </ul>

                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <div class="form-group">
                                                        <div class="col-md-12 col-xs-12 col-sm-12">
                                                            <h:panelGroup rendered="#{question.questionType=='CHECKBOX'}">
                                                                <h:selectManyCheckbox class="checkbox" value="#{dummyAnswer}" layout="pageDirection" disabled="true">
                                                                    <f:selectItems value="#{question.answerOptionList}" var="answerItem"
                                                                                   itemLabel="#{answerItem.content}" itemValue="#{answerItem.id}"  />
                                                                </h:selectManyCheckbox>
                                                            </h:panelGroup>

                                                            <h:panelGroup rendered="#{question.questionType =='TEXT'}">
                                                                <b:inputTextarea class="form-control" rows="3" disabled="true"/>
                                                            </h:panelGroup>

                                                            <h:panelGroup rendered="#{question.questionType =='SCALE'}">
                                                                <b:row>
                                                                    <b:column>
                                                                        <b:slider2 min="#{question.numberQuestion.minimalRange}" max="#{question.numberQuestion.maximumRange}" step="1" disabled="true"/>
                                                                    </b:column>
                                                                </b:row>
                                                            </h:panelGroup>

                                                            <h:panelGroup rendered="#{question.questionType =='MULTIPLECHOICE'}">
                                                                <b:radiobutton class="checkbox" value="#{dummyAnswer}" layout="pageDirection" disabled="true">
                                                                    <f:selectItems value="#{question.answerOptionList}" var="answerItem"
                                                                                   itemLabel="#{answerItem.content}" itemValue="1"  />
                                                                </b:radiobutton>
                                                            </h:panelGroup>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ui:repeat>

                                </h:panelGroup>
                            </div>
                        </h:panelGroup>


                        <h:panelGroup rendered="#{createSurveyController.isCurrentAction('CONFIRMATION')}" id="step-3">
                              <div class="table-responsive col-md-6 col-xs-6 col-md-offset-3">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th style="width:20%;text-align:center;">Pavadinimas:</th>
                                        <td>#{createSurveyController.survey.title}</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Aprašymas:</th>
                                        <td>#{createSurveyController.survey.description}</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Klausimų skaičius:</th>
                                        <td>
                                            <h:outputText  value="#{createSurveyController.survey.questionList.size()}" rendered="#{(createSurveyController.survey.questionList.size() eq 0) or (createSurveyController.survey.questionList.size() gt 0)}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Galioja iki:</th>
                                        <td>
                                            <h:outputText value="#{createSurveyController.survey.expirationDate}" >
                                              <f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
                                             </h:outputText>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Aktyvi:</th>
                                        <td>
                                            <h:outputText  value="Taip" rendered="#{createSurveyController.survey.isActive}" />
                                            <h:outputText  value="Ne" rendered="#{!createSurveyController.survey.isActive}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Vieša:</th>
                                        <td>
                                            <h:outputText  value="Taip" rendered="#{createSurveyController.survey.isPublic}" />
                                            <h:outputText  value="Ne" rendered="#{!createSurveyController.survey.isPublic}" />
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </h:panelGroup>



                    <div class="col-md-12 actionBar">
                        <h:panelGroup rendered="#{createSurveyController.isCurrentAction('QUESTIONS') or createSurveyController.isCurrentAction('CONFIRMATION') }">
                            <b:commandButton value="Ankstesnis"
                                             actionListener="#{createSurveyController.previousPage()}"
                                             update="@form"
                                             immediate="true"
                                             />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{createSurveyController.isCurrentAction('INFO') }">
                            <b:commandButton value="Kitas"
                                             actionListener="#{createSurveyController.nextPage()}"
                                             process="step-1"
                                             update="@form"
                                             look="success"
                                             partialSubmit="true"/>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{createSurveyController.isCurrentAction('QUESTIONS') }">
                            <b:commandButton value="Kitas"
                                             actionListener="#{createSurveyController.nextPage()}"
                                             proces="step-2"
                                             update=":form:wizard"
                                             partialSubmit="true"
                                             immediate="true"
                                             look="success"/>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{createSurveyController.isCurrentAction('CONFIRMATION') }">
                            <b:commandButton value="Užbaigti"
                                             actionListener="#{createSurveyController.saveSurvey()}"
                                             proces="step-3"
                                             update="@form"
                                             immediate="true"
                                             partialSubmit="true"
                                             look="danger"/>
                        </h:panelGroup>
                    </div>
                  </h:panelGroup>

                        <b:modal id="addQuestion" title="Pridėti klausimą" styleClass="modalPseudoClass">
                            <b:messages id="modalMessages" />
                            <h:panelGroup layout="block" styleClass="form-horizontal form-label-left">
                                <h:panelGroup layout="block" id="questionName" styleClass="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Klausimas <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <b:inputText class="form-control col-md-7 col-xs-12" value="#{createSurveyController.question.content}" required="#{createSurveyController.isCurrentAction('QUESTIONS') }" requiredMessage="Įrašykite klausimą!" />
                                    </div>
                                </h:panelGroup>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Privalomas:
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <b:switch value="#{createSurveyController.question.required}" onText="Taip" offText="Ne"/>
                                    </div>
                                </div>
                            <h:panelGroup rendered="#{createSurveyController.questionType eq 'SCALE'}">
                                <div class="answers">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Rėžiai:
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <b:inputText class="form-control col-md-7 col-xs-12" value="#{createSurveyController.numberQuestion.minimalRange}" placeholder="nuo" required="true" requiredMessage="Neįrašytas minimalus rėžis!" />
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <b:inputText class="form-control col-md-7 col-xs-12" value="#{createSurveyController.numberQuestion.maximumRange}" placeholder="iki" required="true" requiredMessage="Neįrašytas maksmimalus rėžis!" />
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{createSurveyController.questionType ne 'TEXT' and createSurveyController.questionType ne 'SCALE'}" layout="block" styleClass="answers" id="answers">
                                <div class="form-group">
                                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                        <h4 class="modal-title">Atsakymai:</h4>
                                    </div>
                                </div>
                                <h:panelGroup rendered="#{createSurveyController.questionType eq 'MULTIPLECHOICE' or createSurveyController.questionType eq 'CHECKBOX'}">
                                    <ui:repeat var="answerOption" value="#{createSurveyController.answerOptions}" varStatus="varStatus">
                                        <f:param name="enableAnswerValidation" value="" />
                                        <div class="form-group answer">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"/>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <b:inputText value="#{answerOption.content}" class="form-control col-md-7 col-xs-12" placeholder="Įveskite atsakymą" required="true" requiredMessage="Neįrašėte atsakymo varianto!" />
                                            </div>
                                            <h:panelGroup rendered="#{varStatus.index > 1}">
                                                <p:commandLink action="#{createSurveyController.removeAnswerOption(varStatus.index)}"
                                                               styleClass="btn btn-danger btn-xs btn-remove"
                                                               partialSubmit="true"
                                                               update=":form:answers"
                                                               process=":form:answers">
                                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                                </p:commandLink>
                                            </h:panelGroup>
                                        </div>
                                    </ui:repeat>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{createSurveyController.questionType eq 'MULTIPLECHOICE' or createSurveyController.questionType eq 'CHECKBOX'}">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                                            <p:commandLink action="#{createSurveyController.addAnswerOption()}"
                                                           styleClass="btn btn-success btn-xs btn-add"
                                                           partialSubmit="true"
                                                           update=":form:answers"
                                                           process=":form:answers">
                                              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Pridėti atsakymo variantą
                                            </p:commandLink>
                                        </div>
                                    </div>
                                </h:panelGroup>
                             </h:panelGroup>
                            </h:panelGroup>
                          <f:facet name="footer">
                                <b:button value="Atšaukti" dismiss="modal" />
                                <b:commandButton action="#{createSurveyController.addQuestion}"
                                                 value="Pridėti"
                                                 look="primary"
                                                 ajax="true"
                                                 disabled="#{!createSurveyController.editable}"
                                                 update="modalMessages answers questionName step-2"/>
                           </f:facet>
                        </b:modal>
                      </h:panelGroup>

                    <h:panelGroup layout="block" rendered="#{createSurveyController.isCurrentAction('DONE')}">
                              <h4>Apklausos adresas:
                                  <u>
                                  <a href="#{createSurveyController.surveyAddress}">#{createSurveyController.surveyAddress}</a>
                                  </u>
                              </h4>
                    </h:panelGroup>
                    </b:form>
                </div>
            </div>
        </div>
     <style type="text/css">
         label.bf-required:after { content: none; }
     </style>
    </ui:define>
</ui:composition>