<ui:composition template="../../template/login_template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:b="http://bootsfaces.net/ui">
    <ui:define name="title">Pamiršote slaptažodį</ui:define>
    <ui:define name="content">
        <h:panelGroup layout="block" styleClass="login_wrapper" id="loginForm">
                    <div id="register" class="animate form login_form">
                        <section class="login_content">
                            <h:form>
                                <b:messages id="messages" />
                                <h1>Pamiršote slaptažodį</h1>
                                <div style="padding-bottom: 20px;">
                                    Įveskite savo el. pašto adresą, į kurį gausite slaptažodžio atkūrimo nuorodą.
                                </div>
                                <div>
                                    <b:inputText value="#{passwordRecoveryRequestController.email}" type="email" styleClass="form-control" placeholder="Pašto adresas" required="true" requiredMessage="Neįrašėte pašto"/>
                                </div>
                                <div>
                                    <b:commandButton styleClass="btn btn-default" value="Siųsti" action="#{passwordRecoveryRequestController.requestPassRecovery}"/>
                                </div>

                                <div class="clearfix"></div>
                            </h:form>
                                <div class="separator">
                                    <p class="change_link">
                                        <h:outputLink value="login"><b>Grįžti į prisijungimo puslapį</b></h:outputLink>
                                    </p>
                                </div>
                        </section>
            </div>
        </h:panelGroup>
    </ui:define>
</ui:composition>