<ui:composition template="../../template/common_template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
          <ui:define name="title">Best Survey - Pagrindinis</ui:define>
    <ui:define name="content">
        <div class="right_col" role="main">
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <b:messages id="messages" />
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bar-chart"></i> Apklausos</h2>
                        <div class="clearfix"></div>
                    </div>
                  <div class="x_content">

                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                          <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                              <li class="active"><a href="#publicSurveys" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Viešos apklausos</a>
                              </li>
                              <li class=""><a href="#mySurveys" role="tab" id="mysurveys-tab" data-toggle="tab" aria-expanded="false">Mano apklausos</a>
                              </li>
                              <h:panelGroup layout="block"
                                            rendered="#{authenticatedUserHolder.administrator}">
                              <li class="">
                                  <a href="#allSurveys" role="tab" id="allSurveys-tab2" data-toggle="tab" aria-expanded="false">Visos apklausos</a>
                              </li>
                              </h:panelGroup>
                          </ul>
                              <h:panelGroup layout="block"
                                            id="myTabContent" styleClass="tab-content">
                              <div role="tabpanel" class="tab-pane fade active in" id="publicSurveys" aria-labelledby="home-tab">
                                  <p:accordionPanel var="survey"
                                                    activeIndex="null"
                                                    value="#{indexPageController.publicSurveys}"
                                                    styleClass="accordion"
                                                    widgetVar="myAccordion">
                                      <p:tab title=" ##{survey.id} #{survey.title}" titleStyleClass="panel-heading panel-title">
                                          <h:panelGroup layout="block"
                                                        styleClass="table-responsive col-md-9 col-xs-9" id="publicSurveysTab">
                                              <table class="table">
                                                  <tbody>
                                                  <tr>
                                                      <th class="col-md-2">Pavadinimas:</th>
                                                      <td>#{survey.title}</td>
                                                  </tr>
                                                  <tr>
                                                      <th>Aprašymas:</th>
                                                      <td>#{survey.description}</td>
                                                  </tr>
                                                  <tr>
                                                      <th>Klausimų skaičius:</th>
                                                      <td>
                                                          <h:outputText  value="#{survey.questionList.size()}" rendered="#{(survey.questionList.size() eq 0) or (survey.questionList.size() gt 0)}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Pradžios data:</th>
                                                      <td>
                                                          <h:outputText value="#{survey.activationDate}" >
                                                              <f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
                                                          </h:outputText>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Galioja iki:</th>
                                                      <td>
                                                          <h:outputText value="#{survey.expirationDate}" >
                                                              <f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
                                                          </h:outputText>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Aktyvi:</th>
                                                      <td>
                                                          <h:outputText  value="Taip" rendered="#{survey.isActive}" />
                                                          <h:outputText  value="Ne" rendered="#{!survey.isActive}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Vieša:</th>
                                                      <td>
                                                          <h:outputText  value="Taip" rendered="#{survey.isPublic}" />
                                                          <h:outputText  value="Ne" rendered="#{!survey.isPublic}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Nuoroda:</th>
                                                      <td>
                                                          <h:outputText  value="#{survey.accessLink}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td colspan="2">
                                                         <h:form>
                                                          <b:commandButton value="Ištrinti"
                                                                           action="#{indexPageController.changeSelectedSurvey(survey.id)}"
                                                                           p:data-target="#deleteSurveyModal"
                                                                           oncomplete="$('.modalPseudoClass').modal()"
                                                                           update=":deleteSurveyModal"
                                                                           p:data-toggle="modal"
                                                                           icon="remove"
                                                                           look="danger"
                                                                    rendered="#{authenticatedUserHolder.administrator
                                                                    or (authenticatedUserHolder.getAuthenticatedUserProfile().getId() eq survey.owner.id)}"/>
                                                          <b:button value="Redaguoti"
                                                                    href="/create_survey?access_link=#{survey.accessLink}"
                                                                    icon="edit"
                                                                    look="warning"
                                                                    rendered="#{authenticatedUserHolder.administrator
                                                                    or (authenticatedUserHolder.getAuthenticatedUserProfile().getId() eq survey.owner.id)}"/>
                                                             <b:commandButton value="Eksportuoti"
                                                                              action="#{surveyExporterController.exportToExcel(survey)}"
                                                                              iconAwesome="file-excel-o"
                                                                              look="success"
                                                                              ajax="false"
                                                                              rendered="#{authenticatedUserHolder.administrator
                                                                    or (authenticatedUserHolder.getAuthenticatedUserProfile().getId() eq survey.owner.id)}"/>
                                                             <b:button value="Statistika" href="/survey_report?access_link=#{survey.accessLink}"
                                                                    icon="stats"
                                                                    look="info"
                                                                    style="color:#fff;"
                                                                    rendered="#{authenticatedUserHolder.administrator
                                                                    or (authenticatedUserHolder.getAuthenticatedUserProfile().getId() eq survey.owner.id)
                                                                    or survey.isPublic}"/>
                                                          <b:button value="Atsakyti" href="/answer_survey?access_link=#{survey.accessLink}"
                                                                    icon="pencil"
                                                                    look="primary"
                                                                    style="color:#fff;"
                                                                    rendered="#{survey.isActive and survey.expirationDate.after(now)}"/>
                                                         </h:form>
                                                      </td>
                                                  </tr>
                                                  </tbody>
                                              </table>
                                          </h:panelGroup>
                                      </p:tab>
                                  </p:accordionPanel>
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="mySurveys" aria-labelledby="mysurveys-tab">
                                  <p:accordionPanel var="survey"
                                                    activeIndex="null"
                                                    value="#{indexPageController.getMySurveys()}"
                                                    styleClass="accordion"
                                                    widgetVar="publicAccordion">
                                      <p:tab title=" ##{survey.id} #{survey.title}" titleStyleClass="panel-heading panel-title">
                                          <h:panelGroup layout="block"
                                                styleClass="table-responsive col-md-9 col-xs-9" id="mySurveysTab">
                                              <table class="table">
                                                  <tbody>
                                                  <tr>
                                                      <th class="col-md-2">Pavadinimas:</th>
                                                      <td>#{survey.title}</td>
                                                  </tr>
                                                  <tr>
                                                      <th>Aprašymas:</th>
                                                      <td>#{survey.description}</td>
                                                  </tr>
                                                  <tr>
                                                      <th>Klausimų skaičius:</th>
                                                      <td>
                                                          <h:outputText  value="#{survey.questionList.size()}" rendered="#{(survey.questionList.size() eq 0) or (survey.questionList.size() gt 0)}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Pradžios data:</th>
                                                      <td>
                                                          <h:outputText value="#{survey.activationDate}" >
                                                              <f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
                                                          </h:outputText>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Galioja iki:</th>
                                                      <td>
                                                          <h:outputText value="#{survey.expirationDate}" >
                                                              <f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
                                                          </h:outputText>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Aktyvi:</th>
                                                      <td>
                                                          <h:outputText  value="Taip" rendered="#{survey.isActive}" />
                                                          <h:outputText  value="Ne" rendered="#{!survey.isActive}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Vieša:</th>
                                                      <td>
                                                          <h:outputText  value="Taip" rendered="#{survey.isPublic}" />
                                                          <h:outputText  value="Ne" rendered="#{!survey.isPublic}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Nuoroda:</th>
                                                      <td>
                                                          <h:outputText  value="#{survey.accessLink}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td colspan="2">
                                                         <h:form>
                                                          <b:commandButton value="Ištrinti"
                                                                    actionListener="#{indexPageController.changeSelectedSurvey(survey.id)}"
                                                                    p:data-target="#deleteSurveyModal"
                                                                    oncomplete="$('.modalPseudoClass').modal()"
                                                                    update=":deleteSurveyModal"
                                                                    p:data-toggle="modal"
                                                                    icon="remove"
                                                                    look="danger"
                                                                    rendered="#{authenticatedUserHolder.administrator
                                                                    or (authenticatedUserHolder.getAuthenticatedUserProfile().getId() eq survey.owner.id)}"/>
                                                          <b:button value="Redaguoti"
                                                                    href="/create_survey?access_link=#{survey.accessLink}"
                                                                    icon="edit"
                                                                    look="warning"
                                                                    rendered="#{authenticatedUserHolder.administrator
                                                                    or (authenticatedUserHolder.getAuthenticatedUserProfile().getId() eq survey.owner.id)}"/>
                                                             <b:commandButton value="Eksportuoti"
                                                                              action="#{surveyExporterController.exportToExcel(survey)}"
                                                                              iconAwesome="file-excel-o"
                                                                              look="success"
                                                                              ajax="false"
                                                                              rendered="#{authenticatedUserHolder.getAuthenticatedUserProfile().getId() eq survey.owner.id}"/>
                                                          <b:button value="Statistika" href="/survey_report?access_link=#{survey.accessLink}"
                                                                    icon="stats"
                                                                    look="info"
                                                                    style="color:#fff;"
                                                                    rendered="#{authenticatedUserHolder.administrator
                                                                    or (authenticatedUserHolder.getAuthenticatedUserProfile().getId() eq survey.owner.id)
                                                                    or survey.isPublic}"/>
                                                          <b:button value="Atsakyti" href="/answer_survey?access_link=#{survey.accessLink}"
                                                                    icon="pencil"
                                                                    look="primary"
                                                                    style="color:#fff;"
                                                                    rendered="#{survey.isActive and survey.expirationDate.after(now)}"/>
                                                          </h:form>
                                                      </td>
                                                  </tr>
                                                  </tbody>
                                              </table>
                                  </h:panelGroup>
                                      </p:tab>
                                  </p:accordionPanel>
                              </div>
                              <h:panelGroup layout="block"
                                            role="tabpanel"
                                            class="tab-pane fade"
                                            id="allSurveys"
                                            aria-labelledby="allSurveys-tab"
                                            rendered="#{authenticatedUserHolder.administrator}">
                                  <p:accordionPanel var="survey"
                                                    activeIndex="null"
                                                    value="#{indexPageController.allSurveys}"
                                                    styleClass="accordion"
                                                    id="allSurvey"
                                                    widgetVar="allAccordion">
                                      <p:tab title=" ##{survey.id} #{survey.title}"  titleStyleClass="panel-heading panel-title">
                                          <h:panelGroup layout="block" styleClass="panel-collapse">
                                            <h:panelGroup layout="block"
                                              styleClass="table-responsive col-md-9 col-xs-9" id="allSurveysTab">
                                              <table class="table">
                                                  <tbody>
                                                  <tr>
                                                      <th class="col-md-2">Pavadinimas:</th>
                                                      <td>#{survey.title}</td>
                                                  </tr>
                                                  <tr>
                                                      <th>Aprašymas:</th>
                                                      <td>#{survey.description}</td>
                                                  </tr>
                                                  <tr>
                                                      <th>Klausimų skaičius:</th>
                                                      <td>
                                                          <h:outputText  value="#{survey.questionList.size()}" rendered="#{(survey.questionList.size() eq 0) or (survey.questionList.size() gt 0)}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Pradžios data:</th>
                                                      <td>
                                                          <h:outputText value="#{survey.activationDate}" >
                                                              <f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
                                                          </h:outputText>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Galioja iki:</th>
                                                      <td>
                                                          <h:outputText value="#{survey.expirationDate}" >
                                                              <f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
                                                          </h:outputText>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Aktyvi:</th>
                                                      <td>
                                                          <h:outputText  value="Taip" rendered="#{survey.isActive}" />
                                                          <h:outputText  value="Ne" rendered="#{!survey.isActive}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Vieša:</th>
                                                      <td>
                                                          <h:outputText  value="Taip" rendered="#{survey.isPublic}" />
                                                          <h:outputText  value="Ne" rendered="#{!survey.isPublic}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Savininkas:</th>
                                                      <td>
                                                          <h:outputText  value="#{survey.owner.candidateInfo.emailAddress}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <th>Nuoroda:</th>
                                                      <td>
                                                          <h:outputText  value="#{survey.accessLink}" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td colspan="2">
                                                        <h:form>
                                                          <b:commandButton value="Ištrinti"
                                                                           action="#{indexPageController.changeSelectedSurvey(survey.id)}"
                                                                           p:data-target="#deleteSurveyModal"
                                                                           oncomplete="$('.modalPseudoClass').modal()"
                                                                           update=":deleteSurveyModal"
                                                                           p:data-toggle="modal"
                                                                           icon="remove"
                                                                           look="danger"
                                                                    rendered="#{authenticatedUserHolder.administrator}"/>
                                                          <b:button value="Redaguoti"
                                                                    href="/create_survey?access_link=#{survey.accessLink}"
                                                                    icon="edit"
                                                                    look="warning"
                                                                    rendered="#{authenticatedUserHolder.administrator}"/>
                                                            <b:commandButton value="Eksportuoti"
                                                                             action="#{surveyExporterController.exportToExcel(survey)}"
                                                                             icon="excel"
                                                                             look="success"
                                                                             ajax="false"
                                                                             iconAwesome="file-excel-o"
                                                                             rendered="#{authenticatedUserHolder.administrator}"/>
                                                          <b:button value="Statistika" href="/survey_report?access_link=#{survey.accessLink}"
                                                                    icon="stats"
                                                                    look="info"
                                                                    style="color:#fff;"
                                                                    rendered="#{authenticatedUserHolder.administrator}"/>
                                                          <b:button value="Atsakyti" href="/answer_survey?access_link=#{survey.accessLink}"
                                                                    icon="pencil"
                                                                    look="primary"
                                                                    style="color:#fff;"
                                                                    rendered="#{survey.isActive and survey.expirationDate.after(now)}"/>
                                                        </h:form>
                                                      </td>
                                                  </tr>
                                                  </tbody>
                                               </table>
                                            </h:panelGroup>
                                          </h:panelGroup>
                                      </p:tab>
                                  </p:accordionPanel>
                              </h:panelGroup>
                          </h:panelGroup>
                      </div>
                </div>
              </div>
           </div>
        </div>

        <b:modal id="deleteSurveyModal" title="Ištrinti apklausą" styleClass="modalPseudoClass">
            <h4 style="text-align:center;">Jūs bantode ištrinti apklausą <b>#{selectedSurvey.title}</b></h4>
            <h4 style="text-align:center;"><b>Ar norite tęsti?</b></h4>
            <f:facet name="footer">
                <b:form>
                    <b:button value="Atšaukti" dismiss="modal" />
                    <b:commandButton value="Ištrinti"
                                     ajax="true"
                                     action="#{indexPageController.deleteSurvey()}"
                                     update=":messages :allSurvey"
                                     look="danger"
                                     immediate="true"
                                     dismiss="modal" />
                </b:form>
            </f:facet>
        </b:modal>

        <style type="text/css">
            .ui-state-default .ui-icon {
                background-image: none !important;
            }
        </style>
    </ui:define>
 </ui:composition>
