<ui:composition template="../../template/login_template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:b="http://bootsfaces.net/ui">
  <ui:define name="title">Prisijungimas</ui:define>
  <ui:define name="content">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
      <h:panelGroup layout="block" styleClass="login_wrapper" id="loginForm">
        <div class="animate form login_form">
          <section class="login_content">
            <h:form>
              <b:messages id="messages" />
              <h1>Prisijungimas</h1>
              <div>
                <b:inputText value="#{authenticatorUseCaseController.userEmailAddress}" type="text" styleClass="form-control" placeholder="El. paštas"/>
              </div>
              <div>
                <b:inputText value="#{authenticatorUseCaseController.userPassword}" type="password" styleClass="form-control" placeholder="Slaptažodis"/>
              </div>
              <div  style="padding-bottom: 20px;">
                <b:commandButton styleClass="btn btn-default" value="Prisijungti" action="#{authenticatorUseCaseController.loginAndRedirect}"/>
              </div>
                <h:outputLink value="forgot_password"><b>Priminti slaptažodį</b></h:outputLink>

              <p class="change_link">Nesate užsiregistravęs?
                <a href="#signup" class="to_register"> <b>Registracija</b> </a>
              </p>
              <div class="clearfix"></div>

              <div class="separator">
                <div>
                  <p>Gentelella by ColorLib</p>
                </div>
              </div>
            </h:form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <h:form>
              <h1>Registracija</h1>
              <div>
                <b:inputText value="#{registryController.email}" type="email" styleClass="form-control" placeholder="Pašto adresas" required="true" requiredMessage="Neįrašėte pašto"/>
              </div>
              <div>
                <b:commandButton styleClass="btn btn-default" value="Registruotis" action="#{registryController.requestRegister()}"/>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Jau narys?
                  <a href="#signin" class="to_register"> <b>Prisijunk</b> </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <p>Gentelella by ColorLib</p>
                </div>
              </div>
            </h:form>
          </section>
        </div>
      </h:panelGroup>
    </div>
  </ui:define>
</ui:composition>
