<ui:composition template="../../template/common_template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Nustatymai</ui:define>
    <ui:define name="content">
        <div class="right_col" role="main">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="title_left">
                        <div class="x_title">
                            <h3>Naudotojo nustatymai</h3>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h:panelGroup layout="block" class="x_content" id="userContent">
                            <b:messages id="messages"/>
                            <b:form id="userForm">
                                <h:panelGroup layout="block" class="form-horizontal form-label-left">
                                    <h:panelGroup layout="block" class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Elektroninis paštas</label>
                                        <h:panelGroup layout="block" class="col-md-6 col-sm-6 col-xs-12">
                                            <b:inputText type="email"
                                                         value="#{userProfileManagmentController.profile.candidateInfo.emailAddress}"
                                                         class="form-control col-md-7 col-xs-12"
                                                         disabled="true"/>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Vardas</label>
                                        <h:panelGroup layout="block" class="col-md-6 col-sm-6 col-xs-12">
                                            <b:inputText type="text"
                                                         class="form-control col-md-7 col-xs-12"
                                                         value="#{userProfileManagmentController.profile.name}"
                                                         required="true"
                                                         requiredMessage="Neįvestas vardas"/>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Pavardė</label>
                                        <h:panelGroup layout="block" class="col-md-6 col-sm-6 col-xs-12">
                                            <b:inputText type="text"
                                                         class="form-control col-md-7 col-xs-12"
                                                         value="#{userProfileManagmentController.profile.surname}"
                                                         required="true"
                                                         requiredMessage="Neįvesta pavardė"/>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Senas slaptažodis</label>
                                        <h:panelGroup layout="block" class="col-md-6 col-sm-6 col-xs-12">
                                            <b:inputText type="password"
                                                         value="#{userProfileManagmentController.oldPass}"
                                                         class="form-control col-md-7 col-xs-12"
                                                         placeholder="Įveskite seną slaptažodį"/>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Naujas slaptažodis</label>
                                        <h:panelGroup layout="block" class="col-md-6 col-sm-6 col-xs-12">
                                            <b:inputText type="password"
                                                         value="#{userProfileManagmentController.newPass}"
                                                         class="form-control col-md-7 col-xs-12"
                                                         placeholder="Įveskite naują slaptažodį"/>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Pakartoti naują slaptažodį</label>
                                        <h:panelGroup layout="block" class="col-md-6 col-sm-6 col-xs-12">
                                            <b:inputText type="password"
                                                         value="#{userProfileManagmentController.repeatNewPass}"
                                                         class="form-control col-md-7 col-xs-12"
                                                         placeholder="Pakartokite naują slaptažodį"/>
                                        </h:panelGroup>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block" class="form-group">
                                        <h:panelGroup layout="block" class="actionBar" style="text-align:center;border:0;">
                                            <b:commandButton id="uploadButton"
                                                             value="Išsaugoti"
                                                             look="success"
                                                             action="#{userProfileManagmentController.changeUserProfile}"/>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </b:form>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>