<ui:composition template="../../template/login_template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:b="http://bootsfaces.net/ui">
    <ui:define name="title">Registracija</ui:define>
    <ui:define name="content">
        <section class="login_content">
            <h:panelGroup layout="block" styleClass="login_wrapper" id="loginForm">
            <div class="animate form login_form">
            <h:form>
                <b:messages id="messages" />
                <h1>Registracija</h1>
                <div>
                    <b:inputText value="#{registryController.email}" type="email" styleClass="form-control" placeholder="Pašto adresas" required="true" requiredMessage="Neįrašėte pašto" disabled="true"/>
                </div>
                <div>
                    <b:inputText value="#{registryController.name}" type="text" styleClass="form-control" placeholder="Vardas" required="true" requiredMessage="Neįrašėte vardo"/>
                </div>
                <div>
                    <b:inputText value="#{registryController.surname}" type="text" styleClass="form-control" placeholder="Pavardė" required="true" requiredMessage="Neįrašėte pavardės"/>
                </div>
                <div>
                    <b:inputText value="#{registryController.password}" type="password" styleClass="form-control" placeholder="Slaptažodis" required="true" requiredMessage="Neįrašėte slaptažodžio"/>
                </div>
                <div>
                    <b:inputText value="#{registryController.repeatPassword}" type="password" styleClass="form-control" placeholder="Pakartokite slaptažodį" required="true" requiredMessage="Neįrašėte pakartotinio slaptažodžio"/>
                </div>

                <div>
                    <b:commandButton styleClass="btn btn-default" value="Registruotis" actionListener="#{registryController.register()}"/>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <div class="clearfix"></div>
                    <br />

                    <div>
                        <p>Gentelella by ColorLib</p>
                    </div>
                </div>
            </h:form>
            </div>
            </h:panelGroup>
        </section>
    </ui:define>
</ui:composition>