<ui:composition template="../../template/login_template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:b="http://bootsfaces.net/ui">
    <ui:define name="title">Atstatyti slaptažodį</ui:define>
    <ui:define name="content">
        <section class="login_content">
            <h:panelGroup layout="block" styleClass="login_wrapper" id="loginForm">
                <div class="animate form login_form">
                    <h:form>
                        <b:messages id="messages" />
                        <h1>Atstatyti slaptažodį</h1>
                        <div>
                            <b:inputText value="#{passwordRecoveryController.email}" type="email" styleClass="form-control" placeholder="Pašto adresas" required="true" requiredMessage="Neįrašėte pašto" disabled="true"/>
                        </div>
                        <div>
                            <b:inputText value="#{passwordRecoveryController.password}" type="password" styleClass="form-control" placeholder="Naujas slaptažodis" required="true" requiredMessage="Neįrašėte slaptažodžio"/>
                        </div>

                        <div>
                            <b:commandButton styleClass="btn btn-default" value="Pakeisti" actionListener="#{passwordRecoveryController.changePassword}"/>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <p>Gentelella by ColorLib</p>
                            </div>
                        </div>
                    </h:form>
                </div>
            </h:panelGroup>
        </section>
    </ui:define>
</ui:composition>