<ui:composition template="../../template/common_template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Importuoti apklausą</ui:define>
    <ui:define name="content">
        <div class="right_col" role="main">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="title_left">
                        <div class="x_title">
                            <h3>Importuoti apklausą</h3>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h:panelGroup layout="block" class="x_content" id="fileUploadContent">
                            <b:messages id="messages" />
                            <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

                            <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                                <p:graphicImage library="images" name="loading.gif" />
                            </p:dialog>
                            <b:form enctype="multipart/form-data" id="fileUploadForm">
                                <h:panelGroup layout="block" class="form-horizontal form-label-left">


                                    <h:panelGroup class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Aktyvi </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <b:switch value="#{surveyImporterController.isActive}" onText="Taip" offText="Ne"/>
                                        </div>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block" class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Failas
                                            <span class="required">*</span>
                                        </label>
                                        <h:panelGroup layout="block" class="col-md-6 col-sm-6 col-xs-12">
                                            <h:inputFile value="#{surveyImporterController.file}" styleClass="form-control" required="true"
                                                         requiredMessage="Pasirinkite failą!">
                                                <f:ajax listener="#{surveyImporterController.save()}" />
                                            </h:inputFile>
                                        </h:panelGroup>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block" class="form-group">
                                        <h:panelGroup layout="block" class="actionBar" style="text-align:center;border:0;">
                                            <b:commandButton id="uploadButton"
                                                             value="Importuoti"
                                                             disabled="#{surveyImporterController.uploadStarted}"
                                                             look="success"
                                                             actionListener="#{surveyImporterController.uploadSurvey()}"
                                                             update=":fileUploadContent"
                                                             ajax="true" />
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </b:form>

                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </div>

    </ui:define>
</ui:composition>