<ui:composition template="../../template/common_template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui">

        <ui:define name="title">Apklausos ataskaita</ui:define>
        <ui:define name="content">
            <div class="right_col" role="main">
             <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                 <div class="title_left">
                    <div class="x_title">
                        <h3>Apklausos ataskaita</h3>
                     </div>
                 </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h:panelGroup layout="block" class="x_content" id="fileUploadContent">
                     <b:messages id="messages" />
                     <b:form enctype="multipart/form-data" id="surveyForm">
                        <h:panelGroup layout="block" class="form-horizontal form-label-left">
                            <div id="questions">
                                <ui:repeat var="question" value="#{surveyReportController.getSurveyQuestions()}" varStatus="varStatus">


                                    <div class="col-md-6 col-xs-12 col-md-offset-3" id="questionInfo">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2 class="col-md-6 col-x-12 span6">
                                                    #{varStatus.index+1} klausimas: #{question.content}
                                                </h2>
                                                <h2 class="col-md-6 col-xs-12 text-right span6">Atsakė: #{surveyReportController.getQuestionAnswersCount(question)}</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div class="form-group">
                                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                                        <h:panelGroup rendered="#{question.questionType=='CHECKBOX'}">
                                                            <p:chart type="bar" model="#{barChartNormalModel.getModel(question)}" responsive="true"/>
                                                        </h:panelGroup>

                                                        <h:panelGroup rendered="#{question.questionType =='TEXT'}">
                                                            <ul>
                                                                 <ui:repeat value="#{textAnswersModel.getTextMap(question)}" var="answer">
                                                                        <li>#{answer}</li>
                                                                 </ui:repeat>
                                                            </ul>
                                                        </h:panelGroup>

                                                        <h:panelGroup rendered="#{question.questionType =='SCALE'}">
                                                            <p:chart type="bar" model="#{barChartDistrModel.getModel(question)}" responsive="true"/>
                                                        </h:panelGroup>

                                                        <h:panelGroup rendered="#{question.questionType =='MULTIPLECHOICE'}">
                                                           <p:chart type="pie" model="#{pieChartGraphModel.getModel(question)}" responsive="true" />
                                                        </h:panelGroup>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ui:repeat>

                            </div>
                        </h:panelGroup>
                     </b:form>
                    </h:panelGroup>
                </div>
                </div>
             </div>
            </div>
            <h:outputScript>function ext() {
                this.cfg.seriesDefaults.rendererOptions.dataLabelFormatString = '%.4s%%';
                this.cfg.seriesDefaults.rendererOptions.dataLabelThreshold = 0;
                }</h:outputScript>
        </ui:define>
</ui:composition>