<ui:composition template="../../template/common_template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="title">Vartotojų valdymas</ui:define>
    <ui:define name="content">
        <div class="right_col" role="main" id="main">
          <h:panelGroup layout="block" id="usersPage">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="title_left">
                        <h3>Naudotojų sąrašas</h3>
                    </div>
                    <h:panelGroup layout="block" styleClass="x_content" id="x_content">
                        <b:messages id="messages" />
                        <b:dataTable value="#{usersManagementController.allUsers}" var="user"
                                     id="datatable-responsive"
                                     styleClass="table table-striped table-bordered dt-responsive nowrap"
                                     style="overflow: hidden !important;"
                                     scrollable="false"
                                     widgetVar="dataTableWidgetVar"
                                     customLangUrl="http://cdn.datatables.net/plug-ins/1.10.13/i18n/Lithuanian.json"
                                     cellspacing="0"
                                     width="100%">
                            <h:column>
                                <f:facet name="header">El. paštas</f:facet>
                                #{user.emailAddress}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Vardas</f:facet>
                                #{user.userProfile.name} #{user.userProfile.surname}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Aktyvacijos data</f:facet>
                                <h:outputText value="#{user.activationDate}" >
                                    <f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Administratorius</f:facet>
                                <h:outputText value="Taip" style="color:green;font-weight:bold;" rendered="#{user.userProfile.administrator}" />
                                <h:outputText value="Ne" rendered="#{!user.userProfile.administrator and user.userProfile ne null}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Blokuotas</f:facet>
                                <h:outputText value="Taip" style="color:red;font-weight:bold;"  rendered="#{user.userProfile.blocked}" />
                                <h:outputText value="Ne" rendered="#{!user.userProfile.blocked and user.userProfile ne null}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Veiksmai</f:facet>
                               <h:form>
                                <h:panelGroup layout="block" rendered="#{user.userProfile ne null}">
                                        <b:commandButton value="Užblokuoti"
                                                         actionListener="#{usersManagementController.blockUser(user.id)}"
                                                         update=":datatable-responsive  :messages"
                                                         size="xs"
                                                         look="primary"
                                                         oncomplete="dataTableWidgetVar.filter()"
                                                         disabled="#{(user.userProfile.id eq authenticatedUserHolder.authenticatedUserProfile.id)}"
                                                         rendered="#{!user.userProfile.blocked}"
                                        />

                                        <b:commandButton value="Atblokuoti"
                                                         actionListener="#{usersManagementController.unblockUser(user.id)}"
                                                         update=":datatable-responsive  :messages"
                                                         size="xs"
                                                         look="info"
                                                         oncomplete="dataTableWidgetVar.filter()"
                                                         rendered="#{user.userProfile.blocked and (user.userProfile.id ne authenticatedUserHolder.authenticatedUserProfile.id)}"
                                        />

                                        <b:commandButton value="Panaikinti administratoriaus teises"
                                                         actionListener="#{usersManagementController.removeAdmin(user.id)}"
                                                         update=":datatable-responsive  :messages"
                                                         size="xs"
                                                         look="warning"
                                                         oncomplete="dataTableWidgetVar.filter()"
                                                         rendered="#{user.userProfile.administrator}"
                                        />

                                        <b:commandButton value="Padaryti administratoriumi"
                                                         actionListener="#{usersManagementController.makeAdmin(user.id)}"
                                                         update=":datatable-responsive  :messages"
                                                         size="xs"
                                                         look="success"
                                                         oncomplete="dataTableWidgetVar.filter()"
                                                         rendered="#{!user.userProfile.administrator}"
                                        />
                                </h:panelGroup>
                                    <b:commandButton value="Pašalinti"
                                                     actionListener="#{usersManagementController.removeCandidate(user.id)}"
                                                     update=":datatable-responsive :messages"
                                                     size="xs"
                                                     look="danger"
                                                     oncomplete="dataTableWidgetVar.filter()"
                                                     rendered="#{user.userProfile eq null}"
                                    />
                                </h:form>
                            </h:column>
                        </b:dataTable>
                    </h:panelGroup>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="title_left">
                        <h4>Pridėti naudotoją</h4>
                    </div>
                    <div class="x_content">
                        <b:form id="form">
                            <h:panelGroup layout="block" class="form-horizontal form-label-left form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Elektroninio pašto adresas:
                                    <span class="required">*</span>
                                </label>
                                <h:panelGroup layout="block" class="col-md-6 col-sm-6 col-xs-12">
                                    <b:inputText value="#{usersManagementController.email}"
                                                 required="true"
                                                 class="form-control col-md-4 col-xs-12"
                                                 requiredMessage="Privalote įrašyti el. pašto adresą!"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" class="col-md-3 col-sm-3 col-xs-12">
                                    <b:commandButton value="Pridėti"
                                                     actionListener="#{usersManagementController.addNewUser}"
                                                     update=":usersPage"
                                                     look="success"
                                    />
                                </h:panelGroup>

                            </h:panelGroup>
                        </b:form>
                    </div>
                </div>
            </div>
          </h:panelGroup>
        </div>

    </ui:define>
</ui:composition>