<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xml:lang="lt" lang="lt">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>
        <ui:insert name="title" >
          Best Survey
        </ui:insert>
    </title>

    <!-- Bootstrap -->
    <link href="resources/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Font Awesome -->
    <link href="resources/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- NProgress -->
    <link href="resources/vendors/nprogress/nprogress.css" rel="stylesheet"/>

    <!-- Datatables -->
    <link href="resources/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <link href="resources/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet"/>
    <link href="resources/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet"/>
    <link href="resources/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet"/>
    <link href="resources/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="resources/build/css/custom.min.css" rel="stylesheet"/>
</h:head>
<f:view>


<h:body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div id="page">

                <div id="side_nav">
                    <ui:insert name="side_nav">
                        <ui:include src="side_nav.xhtml" />
                    </ui:insert>
                </div>

                <h:panelGroup layout="block"
                              id="top-nav"
                              rendered="#{!authenticatedUserHolder.anonymousUser}">
                    <ui:insert name="top_nav" >
                        <ui:include src="top_bar.xhtml" />
                    </ui:insert>
                </h:panelGroup>

                <div id="content">
                    <ui:insert name="content" >

                    </ui:insert>
                </div>

                <div id="footer">
                    <ui:insert name="footer" >
                        <ui:include src="footer.xhtml" />
                    </ui:insert>
                </div>

            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="resources/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Custom Theme Scripts -->
    <script src="resources/build/js/custom.min.js" type="text/javascript"></script>
</h:body>
</f:view>
</html>