<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/index" class="site_title"><span class="fa fa-pie-chart"></span> <span>Best Survey!</span></a>
                </div>

                <div class="clearfix"></div>
                <h:panelGroup layout="block"
                              id="sidebar-menu"
                              styleClass="main_menu_side hidden-print main_menu"
                              rendered="#{!authenticatedUserHolder.anonymousUser}">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li>
                                <a href="/index"><i class="fa fa-home"></i> Pagrindinis</a>
                            </li>
                            <li>
                                <a href="/create_survey"><i class="fa fa-bar-chart-o"></i> Sukurti apklausą</a>
                            </li>
                            <li>
                                <a href="/survey_importer"><i class="fa fa-file-excel-o"></i> Importuoti apklausą</a>
                            </li>
                            <h:panelGroup rendered="#{authenticatedUserHolder.administrator}">
                                <li>
                                    <a href="/users_management"><i class="fa fa-user"></i> Naudotojai</a>
                                </li>
                            </h:panelGroup>
                        </ul>
                    </div>
                </h:panelGroup>
            </div>
        </div>
</ui:composition>
