<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <h:form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <h:commandLink action="#{authenticatorUseCaseController.logoutAndRedirect}"
                                       immediate="true">
                            <i class="glyphicon glyphicon-off"></i>
                        </h:commandLink>
                    </li>
                    <li>
                        <a href="/profile" class="dropdown-toggle info-number">
                            #{authenticatedUserHolder.produceAuthenticatedUserProfile().name}
                            #{authenticatedUserHolder.produceAuthenticatedUserProfile().surname}
                            <i class="glyphicon glyphicon-cog" style="margin-left: 10px;"></i>
                        </a>
                    </li>
                </ul>
            </h:form>
        </nav>
    </div>
</div>
</ui:composition>